.grading input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.grading label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #444;
  border-radius: 4px;
  user-select: none;
}
.grading input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
.grading input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.question-marker .question-changer {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 4px;
}
